<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>Suspensions</h1>
      <h6><%= link_to "Stats", "/chart" %></h6>
    </div>
  </div>
  <div class="row">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Player Name</th>
          <th>Team</th>
          <th># of Games Suspended</th>
          <th>Category</th>
          <th>Description</th>
          <th>Year</th>
        </tr>
      </thead>
      <tbody>
          <% @players.each do |player| %>
            <tr><td><%= link_to "#{player.name}", "players/#{player.id}" %></td>
            <td><%= player.team %></td>
            <td><%= player.games %></td>
            <td><%= player.category %></td>
            <td><%= player.description %></td>
            <td><%= player.year %></td></tr>
          <% end %>
      </tbody>
    </table>
    <div class="row">
      <%= paginate @players, :window => 1 %>
    </div>
  </div>
</div>
