<h1>Players#player</h1>
<ul>
  <li>ID: <%= @player.id %></li>
  <li>Player Name: <%= @player.name %></li>
  <li>Team: <%= @player.team %></li>
  <li># of Games Suspended: <%= @player.games %></li>
  <li>Category: <%= @player.category %></li>
  <li>Reason for Suspension: <%= @player.description %></li>
  <li>Year of Suspension: <%= @player.year %></li>
  <li><%= link_to "Read about it", "@player.source" %></li>
  <li>Repeat Offender: <%= @player.repeat %></li>
</ul>

<% next_player = @player.id.to_i + 1 %>
<% next_player = @player.id if next_player > @players.count %>

<li><%= link_to "Next Player", "./#{next_player}" %></li>
